@import 'necolas--normalize-css/normalize';
@import 'yeun--open-color/open-color';
@import 'daneden--animate-css/animate';


body {
	background-color: $oc-gray-9;
	overflow: hidden;
	font-family: sans-serif;
}


/*
 * CLEARFIX
 */


footer::after,
.clearfix::after {
	display: table;
  clear: both;
	content: '';
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}


[hidden] {
	display: none !important;
}






main {
	margin: 0;
	border-width: 0;
	cursor: none;
	padding: 0;
	width: 100%;
	height: 1024px;
	min-height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
}


article {
	margin: 0;
	background: no-repeat center center fixed;
	background-size: cover;
	padding: 0;
	height: 100vh;
}

.bg-image-contain {
	background-size: contain;
}


footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px;
	color: $oc-gray-9;

	&:hover {
		background-color: rgba($oc-gray-0, 0.5);
	}

	.float-left,
	.float-right {
		visibility: hidden;
	}

	&:hover .float-left,
	&:hover .float-right {
		visibility: visible;
	}

	strong {
		padding-top: 6px;
	}
}


.footer-btn {
	border: 1px solid $oc-gray-5;
	background-color: $oc-gray-0;
	padding: 5px 10px;
	color: $oc-gray-9;
}
