.content--clock div {
  display: flex;
  height: 100%;
  align-items: center;
  justift-content: center;
}

.content--clock h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 30vw;
  font-weight: 800;
  font-variant-numeric: tabular-nums;
  
  background-color: rgba(0, 0, 0, 0.7);

  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: black;
}
