.content--clock div {
  position: fixed;
  top: 20vh;
  width: 100vw;
}

.content--clock h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24vw;
  font-weight: 800;
  font-variant-numeric: tabular-nums;
  
  background-color: rgba(0, 0, 0, 0.7);

  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: black;
}
